@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

/*errors*/
.error-container {
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 3%;
	text-align: center;
}

.error-container img {
    width: 50%;
}

.error-container p {
	margin-top: 25px;
    font-size: 0.9rem;
}


body {
	width: 90%;
	max-width: 1400px;
	margin: 35px auto;
}

h3 {
	text-align: center;
	margin: 5px;
}

.login {
	margin: 50px auto;
	width: 400px;
}

.login>button[type="submit"] {
	margin: auto;
	display: block;
	width: 100px;
}

.header .login-register {
	float: right;
}

.two-inputs-in-one-line-1, .two-inputs-in-one-line-2 {
	display: inline-block;
	float: left;
	width: 48%;
}

.two-inputs-in-one-line-2 {
	float: right;
}

.alert.alert-danger, .alert.info, .alert.alert-success {
	margin: 20px;
    display: inline-block;
}

.alert.info {
	background-color: #e3f2fd;
}

.msg {
	text-align: center;
}

.user-content {
	margin-top: 10px;
	border: 1px solid #dee2e6;
    padding: 15px;
}

.user-content > .user-info-item {
	padding: 3px 7px;
	cursor: pointer;
}

.user-content > .user-info-item:hover {
	background-color: #f8f9fa;
	
}

.user-content > .user-info-item > .user-info-title {
	display: inline-block;
	width: 50%;
}

.user-content > .user-info-item > .user-info-value {
	display: inline-block;
	float: right;
}

.add-good-form {
	width: 400px;
	margin: 50px auto;
}

.add-good-form > button {
	margin: auto;
    display: block;
    width: 100px;
}

button:not(.close) {
	width: 100px;
}

.editModeForGroups, .editModeForProdusers, .editModeForVendors {
	display: inline-block;
	/*display: none;*/
    float: right;
    margin-top: 4px;
    font-size: 15px;
}

.editModeForGroups i, .editModeForProdusers i, .editModeForVendors i {
	margin-left: 4px;
}

.groups {
	border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

#editMode {
	margin-bottom: 0px;
}

#editMode button {
	margin: auto;
    display: block;
    margin-top: 10px;
}

.add-or-edit-produser {
	
}

tbody tr {
	cursor: pointer;
}

tbody td {
	padding: 5px;
}

tbody tr:hover:not(.childTable tr) {
	background-color: #f8f9fa;
}

.commands a {
	display: inline-block;
	width: 80px;
}

.childTable tr {
	background-color: rgba(0,0,0,.05);
}

.childTable tr:hover {
	background-color: rgba(0,0,0,.05);
}

td.details-control {
    background: url(/resources/images/expand.png) no-repeat center center;
    cursor: pointer;
    width: 40px !important;
    min-width: 40px !important;
    background-size: 25px 25px;
}

tr.shown td.details-control {
    background: url(/resources/images/collapse.png) no-repeat center center;
    background-size: 25px 25px;
}
