@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

/*errors*/
.error-container {
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 3%;
	text-align: center;
}

.error-container img {
    width: 50%;
}

.error-container p {
	margin-top: 25px;
    font-size: 0.9rem;
}


body {
	width: 90%;
	max-width: 1400px;
	margin: 35px auto;
}

h3 {
	text-align: center;
	margin: 5px;
}

.login {
	margin: 50px auto;
	width: 400px;
}

.login>button[type="submit"] {
	margin: auto;
	display: block;
	width: 100px;
}

.header .login-register {
	float: right;
}

.header a {
	color: rgba(0,0,0,.5);
}

.header a:hover {
	color: rgba(0,0,0,.7);
}

.two-inputs-in-one-line-1, .two-inputs-in-one-line-2 {
	display: inline-block;
	float: left;
	width: 48%;
}

.two-inputs-in-one-line-2 {
	float: right;
}

.alert.alert-danger, .alert.info, .alert.alert-success {
	margin: 20px;
    display: inline-block;
}

.alert.info {
	background-color: #e3f2fd;
}

.msg {
	text-align: center;
}

.user-content {
	border: 1px solid #dee2e6;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.user-content > .user-info-item {
	padding: 3px 7px;
	cursor: pointer;
}

.user-content > .user-info-item:hover {
	background-color: #f8f9fa;
	
}

.user-content > .user-info-item > .user-info-title {
	display: inline-block;
	width: 50%;
}

.user-content > .user-info-item > .user-info-value {
	display: inline-block;
	float: right;
}

.add-good-form {
	width: 400px;
	margin: 50px auto;
}

.add-good-form > button {
	margin: auto;
    display: block;
    width: 100px;
}

button:not(.close) {
	width: 100px;
}

.editModeForGroups, .editModeForProdusers, .editModeForVendors {
	display: inline-block;
	/*display: none;*/
    float: right;
    margin-top: 4px;
    font-size: 15px;
}

.editModeForGroups i, .editModeForProdusers i, .editModeForVendors i {
	margin-left: 4px;
}

.groups {
	border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

#editMode {
	margin-bottom: 0px;
}

#editMode button {
	margin: auto;
    display: block;
    margin-top: 10px;
}

.add-or-edit-produser {
	
}

tbody tr {
	cursor: pointer;
}

tbody td {
	padding: 5px;
}

tbody tr:hover:not(.childTable tr) {
	background-color: #f8f9fa;
}

.commands {
	text-align: center;
}

.commands a {
	display: inline-block;
	/*width: 80px;*/
	padding: 1px 7px;
}

.childTable tr {
	background-color: rgba(0,0,0,.05);
}

.childTable tr:hover {
	background-color: rgba(0,0,0,.05);
}

td.details-control {
    background: url(/resources/images/expand.png) no-repeat center center;
    cursor: pointer;
    width: 40px !important;
    min-width: 40px !important;
    background-size: 25px 25px;
}

tr.shown td.details-control {
    background: url(/resources/images/collapse.png) no-repeat center center;
    background-size: 25px 25px;
}

.amt {
	margin-right: 5px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
}

#hide-background {
	background: none;
}

#cart-table td, #cart-table th, #goodsTable td, #goodsTable th, .users-table td, .users-table th {
	vertical-align: middle;
	padding: 5px;
}

#goodsTable td {
	white-space: normal;
}

#cart-table .quantity {
	width: 152px;
}

#cart-table .quantity button {
	width: 60px;
}

#cart-table .price {
	width: 130px;
}

.total {
	display: inline-block;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    text-align: center;
}

.total a {
	margin-top: 10px;
    width: 106px;
}

h3 {
	margin: 20px;
}

.cart-message {
	text-align: center;
}

.cart-message .alert {
	background-color: #e3f2fd;
    text-align: center;
    display: inline-block;
    padding: 10px 50px;
}

.add-new-user-button {
	margin: auto;
    display: block;
    width: 160px;
}
  
.date-filter {
	text-align: center;
	display: inline-block;
    float: right;
}
   
.date-filter .form-group {
	width: 150px;
	display: inline-block;
	margin-right: 5px;
}

.date-filter > button, .date-filter > a {
	vertical-align: top;
	margin-right: 5px;
}

.sort-container {
	display: inline-block;
    float: left;
}

.secondary-focus {
	box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #6c757d;
}

.add-to-cart-button {
	padding: 6px;
    width: 100px;
    margin-right: 5px;
}

